<div class="box__breadcrumbs">
    <div class="breadcrumbs__header">
        <ol class="breadcrumb">
            <li><a href>Payroll</a> </li>
            <li class="active">Rules Administration</li>
        </ol>
    </div>
</div>
<div class="box__feature-navigation">
    <div class="box-header">
        <span class="">Payroll Profile Detail (View)</span><span class="text-md _700 m-r-sm" ng-show="createNewRule"> - Creating New Rule</span> 
    </div>
    <div class="box-tool">
        <ul class="nav">
            <li class="nav-item inline dropdown">
                <a class="nav-link" data-toggle="dropdown">
                    <button class="btn btn-xs grey-100 btn-block"><i class="material-icons md-24">&#xe3C7; </i> Actions</button>
                </a>
                <div class="dropdown-menu dropdown-menu-scale pull-right">
                    <a class="dropdown-item openInPage" ng-click="doSecond()">
                        <i class="material-icons md-24">add </i> Create New Rule
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" ui-sref="app.jlsapp.payroll">
                        <i class="material-icons md-24">call_made </i> Payroll
                    </a>
                    <a class="dropdown-item" ui-sref="app.jlsapp.payprofiles">
                        <i class="material-icons md-24">call_made </i> Profiles
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="box">
        <div class="box-header">
          <h2>Editable form</h2>
        </div>
        <div class="box-body">
          <form editable-form name="editableForm" onaftersave="saveUser()">
            <div class="form-horizontal">
              <div class="form-group row">
                <label class="col-sm-3 form-control-label _700">Name:</label>
                <div class="col-sm-9">
                  <p class="form-control-static">
                    <span editable-text="ppename">{{ ppename || 'empty' }}</span>
                  </p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 form-control-label _700">Period:</label>
                <div class="col-sm-9">
                  <p class="form-control-static">
                    <span editable-select="ppeperiod" e-ng-options="s.value for s in statuses">
                      {{ ppeperiod }}
                    </span>
                  </p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 form-control-label _700">Profile Code:</label>
                <div class="col-sm-9">
                  <p class="form-control-static">
                    <span editable-text="ppepcode">{{ ppepcode || 'empty' }}</span>
                  </p>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 form-control-label _700">Overtime Period Hours:</label>
                <div class="col-sm-9">
                  <p class="form-control-static">
                    <span editable-select="ppeoph" e-ng-options="a.value for a in statuses">
                      {{ ppeoph }}
                    </span>
                  </p>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 form-control-label _700">Overtime Period:</label>
                <div class="col-sm-9">
                  <p class="form-control-static">
                    <span editable-select="ppeop" e-ng-options="s.value for s in statuses">
                      {{ ppeop }}
                    </span>
                  </p>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 form-control-label _700">Basic Hours:</label>
                <div class="col-sm-9">
                  <p class="form-control-static">
                    <span editable-select="ppebh" e-ng-options="s.value for s in statuses">
                      {{ ppebh }}
                    </span>
                  </p>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 form-control-label _700">Weekly Divider:</label>
                <div class="col-sm-9">
                  <p class="form-control-static">
                    <span editable-select="ppewd" e-ng-options="s.value for s in statuses">
                      {{ ppewd }}
                    </span>
                  </p>
                </div>
              </div>

              <div class="form-group row">
                  <label class="col-sm-3 form-control-label _700">Pay Red Hours:</label>
                  <div class="col-sm-9">
                    <p class="form-control-static">
                        <a editable-checkbox="user.remember" e-title="">
                                        {{ user.remember && "Yes!" || "No" }}
                                      </a>
                    </p>
                  </div>
                </div>
                <div class="form-group row">
              <label class="col-sm-3 form-control-label">Radiolist:</label>
              <div class="col-sm-9">
                <p class="form-control-static">
                    <a editable-radiolist="agenda" e-ng-options="s.value as s.text for s in agenda">
                                    {{ showAgenda() }}
                                  </a>
                </p>
              </div>
            </div>



              <div class="form-group row">
                <div class="col-sm-9 col-sm-offset-3">
                  <button type="button" class="btn white" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                    Edit
                  </button>
                  <!-- buttons to submit / cancel form -->
                  <span ng-show="editableForm.$visible">
                    <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                      Save
                    </button>
                    <button type="button" class="btn white" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                      Cancel
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>


<div class="row no-gutter">

    <div class="col-sm-12">
        <form role="form" class="ng-pristine ng-valid p-l">
            <div class="form-group row no-gutter">
                <label for="inputPassword3" class="col-sm-4 form-control-label text-md _700">Name</label>
                <div class="col-sm-8">
                    
                </div>
            </div>

            <div class="form-group row no-gutter">
                <div class="col-sm-4">
                    <input type="text" size="30" class="p-a-sm ng-pristine ng-valid ng-touched">
                </div>

                <div class="col-sm-8">
                    
                </div>
            </div>

            <div class="form-group row no-gutter">
                <label for="inputPassword3" class="col-sm-4 form-control-label text-md _700">Period</label>
                <div class="col-sm-8">
                    
                </div>
            </div>

            <div class="form-group row no-gutter">
                <div class="col-sm-4">
                    <ui-select ng-model="person.selected" theme="bootstrap" class="select2__select-field" style="width: 160px">
                        <ui-select-match placeholder="Choose day...">{{$select.selected.value}}</ui-select-match>
                        <ui-select-choices repeat="item in people | filter: $select.search">
                            <div ng-bind-html="item.value | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col-sm-8">
                    
                </div>
            </div>

            <div class="form-group row no-gutter">
                <label for="inputPassword3" class="col-sm-4 form-control-label text-md _700">Additional Details</label>
                <div class="col-sm-8">
                    
                </div>
            </div>

            <div class="form-group row no-gutter">
                <label for="inputPassword3" class="col-sm-4 form-control-label text-md">Profile Code</label>
                <div class="col-sm-8">
                    <input type="text" size="8" class="p-a-sm ng-pristine ng-valid ng-touched">
                </div>
            </div>

            <div class="form-group row no-gutter">
                <label for="inputPassword3" class="col-sm-4 form-control-label text-md">Overtime Period Hours</label>
                <div class="col-sm-8">
                    <ui-select ng-model="person.selected" theme="bootstrap" class="select2__select-field" style="width: 160px">
                        <ui-select-match placeholder="Choose day...">{{$select.selected.value}}</ui-select-match>
                        <ui-select-choices repeat="item in people | filter: $select.search">
                            <div ng-bind-html="item.value | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group row no-gutter">
                <label for="inputPassword3" class="col-sm-4 form-control-label text-md">Overtime Period</label>
                <div class="col-sm-8">
                    <ui-select ng-model="person.selected" theme="bootstrap" class="select2__select-field" style="width: 160px">
                        <ui-select-match placeholder="Choose day...">{{$select.selected.value}}</ui-select-match>
                        <ui-select-choices repeat="item in people | filter: $select.search">
                            <div ng-bind-html="item.value | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group row no-gutter">
                <label for="inputPassword3" class="col-sm-4 form-control-label text-md">Basic Hours</label>
                <div class="col-sm-8">
                    <ui-select ng-model="person.selected" theme="bootstrap" class="select2__select-field" style="width: 160px">
                        <ui-select-match placeholder="Choose day...">{{$select.selected.value}}</ui-select-match>
                        <ui-select-choices repeat="item in people | filter: $select.search">
                            <div ng-bind-html="item.value | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group row no-gutter">
                <label for="inputPassword3" class="col-sm-4 form-control-label text-md">Weekly Divider</label>
                <div class="col-sm-8">
                    <ui-select ng-model="person.selected" theme="bootstrap" class="select2__select-field" style="width: 160px">
                        <ui-select-match placeholder="Choose day...">{{$select.selected.value}}</ui-select-match>
                        <ui-select-choices repeat="item in people | filter: $select.search">
                            <div ng-bind-html="item.value | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <br/>
                    <label class="md-check">
                        <input type="checkbox" value="AP347492" ng-checked="master"><i class="black"></i> Pay Red Hours
                    </label>
                </div>
            </div>














            <div class="form-group row no-gutter">
                <label for="inputEmail3" class="col-sm-12 col-md-4 text-md">Pay Indicator</label>
                <div class="col-sm-8">
                    <p>
                        <label class="md-check">
                            <input type="radio" name="radio">
                            <i class="brand-black"></i> Employee
                        </label>
                    </p>
                    <p>
                        <label class="md-check">
                            <input type="radio" name="radio">
                            <i class="brand-black"></i> Site
                        </label>
                    </p>
                    <p>
                        <label class="md-check">
                            <input type="radio" name="radio">
                            <i class="brand-black"></i> Higher
                        </label>
                    </p>
                </div>
            </div>

            <div class="form-group row no-gutter">
                <label for="inputPassword3" class="col-sm-4 form-control-label text-md">
                    <div class="input-group input-group-sm" ng-show="!creatingTask">
                        <span class="input-group-btn">
                          <button type="submit" class="btn white b-a rounded no-shadow"><i class="material-icons">search</i></button>
                        </span>
                        <input id="filter001" type="text" class="form-control p-x b-a rounded" placeholder="Filter search">
                    </div>

                </label>
                <div class="col-sm-8">
                    <button class="btn btn-sm">Create</button>
                </div>
            </div>

            <div class="form-group row no-gutter">
                <label for="inputPassword3" class="col-sm-4 form-control-label text-md">Composite rate monthly</label>
                <div class="col-sm-8">
                    <button class="btn btn-sm">remove</button>
                </div>
            </div>
            <div class="form-group row no-gutter">
                <label for="inputPassword3" class="col-sm-4 form-control-label text-md">Drogheda/Dundalk</label>
                <div class="col-sm-8">
                    <button class="btn btn-sm">remove</button>
                </div>
            </div>
            <div class="form-group row no-gutter">
                <label for="inputPassword3" class="col-sm-4 form-control-label text-md">Limerick Overtime</label>
                <div class="col-sm-8">
                    <button class="btn btn-sm">remove</button>
                </div>
            </div>

            

        </form>
    </div>
</div>


