#task-scheduler-list{
	th{
		// padding: 0px;
		// border-bottom: 0px;
		.input-group{
			width: 100%;	
		}
		
	}
}

.table{
	th{
		color: default;
		font-size: .8rem;
	}
}

.table{
	th{
		color: $grey-600;
		font-size: .8rem;
	}
}