<div class="box__brand-black no-borders m-a-0">
    <div class="box-header">
        <h1>Buttons UI</h1>
        <!-- <h3>The kind that are <span class="_700">SORTABLE</span>, have <span class="_700">FILTER</span> controls, and are <span class="_700">RESPONSIVE</span></h3> -->
    </div>
</div>

<div class="row m-b">
    <div class="col-sm-6">
        <div class="box__style-guide">
            <div class="box-header">
                Colours
                <small>Pattern ref: xxxxxxx</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    <p class="m-b btn-groups">
                        <button class="btn btn-fw white">White</button>
                        <button class="btn btn-fw primary">Primary</button>
                        <button class="btn btn-fw accent">Accent</button>
                        <button class="btn btn-fw warn">Warn</button>
                        <button class="btn btn-fw success">Success</button>
                        <button class="btn btn-fw info">Info</button>
                        <button class="btn btn-fw warning">Warning</button>
                        <button class="btn btn-fw danger">Danger</button>
                        <button class="btn btn-fw dark">Dark</button>
                        <button class="btn btn-fw black">Black</button>
                        <button class="btn btn-fw" disabled>Disabled</button>
                    </p>
                </div>
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="box__style-guide">
            <div class="box-header">
                Size
                <small>Pattern ref: xxxxxxx</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    <button class="btn btn-sm white">btn-sm</button>
                    <button class="btn white">btn</button>
                    <button class="btn btn-lg white">btn-lg</button>
                </div>
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
</div>
<div class="row m-b">
    <div class="col-sm-6">
        <div class="box__style-guide">
            <div class="box-header">
                Rounded
                <small>Pattern ref: xxxxxxx</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    <button class="btn rounded white">Rounded</button>
                    <button class="btn rounded white p-x-md">More padding</button>
                </div>
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="box__style-guide">
            <div class="box-header">
                Outline
                <small>Pattern ref: xxxxxxx</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    <button class="btn btn-outline b-primary text-primary">Primary</button>
                    <button class="btn btn-outline b-info text-info">Info</button>
                    <button class="btn btn-outline b-success text-success">success</button>
                    <button class="btn btn-outline b-warning text-warning">warning</button>
                    <button class="btn btn-outline b-danger text-danger">danger</button>
                    <button class="btn btn-outline b-accent text-accent">accent</button>
                    <button class="btn btn-outline b-warn text-warn">warn</button>
                    <button class="btn btn-outline b-black text-black">Black</button>
                </div>
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
</div>
<div class="row m-b">
    <div class="col-sm-6">
        <div class="box__style-guide">
            <div class="box-header">
                Outline Rounded
                <small>Pattern ref: xxxxxxx</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    <button class="btn btn-outline rounded b-primary text-primary">Primary</button>
                    <button class="btn btn-outline rounded b-info text-info">Info</button>
                    <button class="btn btn-outline rounded b-success text-success">success</button>
                    <button class="btn btn-outline rounded b-warning text-warning">warning</button>
                    <button class="btn btn-outline rounded b-danger text-danger">danger</button>
                    <button class="btn btn-outline rounded b-accent text-accent">accent</button>
                    <button class="btn btn-outline rounded b-warn text-warn">warn</button>
                    <button class="btn btn-outline rounded b-primary text-primary b-2x">b-2x</button>
                </div>
                <!--end pattern -->
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="box__style-guide">
            <div class="box-header">
                Block Button with icon
                <small>Pattern ref: xxxxxxx</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    <button class="btn accent btn-lg btn-block"><i class="material-icons pull-left">&#xe3c7;</i> Block button with icon</button>
                </div>
                <!--end pattern -->
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
</div>

<div class="row m-b">
    <div class="col-sm-6">
        <div class="box__style-guide">
            <div class="box-header">
                Groups Outline
                <small>Pattern ref: xxxxxxx</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline b-info">Left</button>
                        <button type="button" class="btn btn-outline b-info">Middle</button>
                        <button type="button" class="btn btn-outline b-info">Right</button>
                    </div>
                </div>
                <!--end pattern -->
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="box__style-guide">
            <div class="box-header">
                Groups
                <small>Pattern ref: xxxxxxx</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm info active">Left</button>
                        <button type="button" class="btn btn-sm info">Middle</button>
                        <button type="button" class="btn btn-sm info">Right</button>
                    </div>
                </div>
                <!--end pattern -->
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
</div>
<div class="row m-b">
    <div class="col-sm-6">
        <div class="box__style-guide">
            <div class="box-header">
                Vertical
                <small>Pattern ref: xxxxxxx</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    <div class="btn-group-vertical m-b">
                        <button type="button" class="btn white">Top</button>
                        <button type="button" class="btn white">Middle</button>
                        <button type="button" class="btn white">Bottom</button>
                    </div>
                </div>
                <!--end pattern -->
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="box__style-guide">
            <div class="box-header">
                Nested
                <small>Pattern ref: xxxxxxx</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    <div class="btn-group">
                        <div class="btn-group m-b">
                            <button type="button" class="btn white">1</button>
                            <button type="button" class="btn btn-info">2</button>
                            <button type="button" class="btn white">3</button>
                            <div class="btn-group dropdown">
                                <button type="button" class="btn white" data-toggle="dropdown">
                                    Dropdown <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu animated fadeIn">
                                    <li class="dropdown-item"><a href>Action</a></li>
                                    <li class="dropdown-item"><a href>Another action</a></li>
                                    <li class="dropdown-item"><a href>Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-item"><a href>Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end pattern -->
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
</div>
<div class="row m-b">
    <div class="col-sm-6">
        <div class="box__style-guide">
            <div class="box-header">
                Multiple
                <small>Pattern ref: xxxxxxx</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    <div class="btn-toolbar m-b">
                        <div class="btn-group">
                            <button type="button" class="btn white">1</button>
                            <button type="button" class="btn white">2</button>
                            <button type="button" class="btn white active">3</button>
                            <button type="button" class="btn white">4</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn white">5</button>
                            <button type="button" class="btn white">6</button>
                            <button type="button" class="btn white">7</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn white">8</button>
                        </div>
                    </div>
                </div>
                <!--end pattern -->
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
    
</div>
<div class="row m-b">
    <div class="col-sm-12">
        <div class="box__style-guide">
            <div class="box-header">
                Flat Buttons
                <small>Pattern ref: xxxxxxx</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    <div class="btn-toolbar m-b">
                        <button class="md-btn md-flat m-b-sm w-xs">Default</button>
                        <button class="md-btn md-flat m-b-sm w-xs text-primary">Primary</button>
                        <button class="md-btn md-flat m-b-sm w-xs text-accent">Accent</button>
                        <button class="md-btn md-flat m-b-sm w-xs text-warn">Warn</button>
                        <button class="md-btn md-flat m-b-sm w-xs text-success">Success</button>
                        <button class="md-btn md-flat m-b-sm w-xs text-warning">Warning</button>
                        <button class="md-btn md-flat m-b-sm w-xs text-danger">Danger</button>
                        <button class="md-btn md-flat m-b-sm w-xs text-danger" disabled>Disabled</button>
                    </div>
                </div>
                <!--end pattern -->
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="box__style-guide">
            <div class="box-header">
                Raised Buttons
                <small>Pattern ref: xxxxxxx</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    <button class="md-btn md-raised m-b-sm w-xs white">White</button>
                    <button class="md-btn md-raised m-b-sm w-xs indigo">Indigo</button>
                    <button class="md-btn md-raised m-b-sm w-xs pink">Pink</button>
                    <button class="md-btn md-raised m-b-sm w-xs blue">Blue</button>
                    <button class="md-btn md-raised m-b-sm w-xs green">Green</button>
                    <br>
                    <button class="md-btn md-raised m-b-sm w-xs orange">Orange</button>
                    <button class="md-btn md-raised m-b-sm w-xs red">Red</button>
                    <button class="md-btn md-raised m-b-sm w-xs purple">Purple</button>
                    <button class="md-btn md-raised m-b-sm w-xs red" disabled>Disabled</button>
                </div>
                <!--end pattern -->
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
</div>
<div class="row m-b">
    <div class="col-sm-6">
        <div class="box__style-guide">
            <div class="box-header">
                Icon Buttons
                <small>Pattern ref: xxxxxxx</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    <button class="md-btn md-fab m-b-sm white"><i class="material-icons md-24">&#xe145;</i></button>
                    <button class="md-btn md-fab m-b-sm indigo"><i class="material-icons md-24">&#xe8b6;</i></button>
                    <button class="md-btn md-fab m-b-sm pink"><i class="material-icons md-24">&#xe551;</i></button>
                    <button class="md-btn md-fab m-b-sm blue"><i class="material-icons md-24">&#xe0bc;</i></button>
                    <button class="md-btn md-fab m-b-sm grey" disabled><i class="material-icons md-24">&#xe539;</i></button>
                </div>
                <!--end pattern -->
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
    
</div>
                

