<div class="box__brand-black no-borders m-a-0">
    <div class="box-header">
        <h1>Cards UI</h1>
        <!-- <h3>The kind that are <span class="_700">SORTABLE</span>, have <span class="_700">FILTER</span> controls, and are <span class="_700">RESPONSIVE</span></h3> -->
    </div>
</div>
<div class="row m-b">
    <div class="col-sm-4">
        <div class="box__style-guide" id="ui-search__card-detailed-image-001">
            <div class="box-header">
                Card (Detailed) With Image
                <small>Pattern Reference: card-detailed-image-001</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    
                        <div class="card__jls-card">
                            <div class="card-header">
                                This is a card header
                            </div>
                            <img src="http://placekitten.com/500/200">
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                            </div>
                            <div class="card-block">
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                            <div class="card-block">
                                <a href="#" class="btn btn-primary">Button</a>
                            </div>
                            <div class="card-footer text-muted">
                                This is a card footer
                            </div>
                        </div>
                    
                </div>
                <!--end pattern -->
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="box__style-guide" id="ui-search__card-detailed-001">
            <div class="box-header">
                Card (Detailed)
                <small>Pattern Reference: card-detailed-001</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    
                        <div class="card__jls-card">
                            <div class="card-header">
                                This is a card header
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                            </div>
                            <div class="card-block">
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                            <div class="card-block">
                                <a href="#" class="btn btn-primary">Button</a>
                            </div>
                            <div class="card-footer text-muted">
                                This is a card footer
                            </div>
                        </div>
                    
                </div>
                <!--end pattern -->
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="box__style-guide" id="ui-search__card-simple-001">
            <div class="box-header">
                Card Simple
                <small>Pattern Reference: card-simple-001</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    
                        <div class="card__jls-card">
                            <div class="card-header">
                                This is a card header
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="card-footer text-muted">
                                This is a card footer
                            </div>
                        </div>
                    
                </div>
                <!--end pattern -->
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
</div>
