<div class="box__brand-black no-borders m-a-0">
    <div class="box__header__brand-neutral-light">
        <h1>Dropdown Menu UI</h1>
        <!-- <h3>The kind that are <span class="_700">SORTABLE</span>, have <span class="_700">FILTER</span> controls, and are <span class="_700">RESPONSIVE</span></h3> -->
    </div>
</div>
<div class="styleguide">
  <div class="">
    
    <div class="">
        <div class="box">
            <div class="box-header">
                <h3>Dropdown Menu</h3>
                <small>Pattern Reference: xxxxxx</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    <div class="pos-rlt clearfix m-b-md">
                      <!--Clear menu-->
                      <div class="dropdown pull-left m-r">
                        <div class="dropdown-menu pos-stc inline" role="menu">
                          <a class="dropdown-item" href>Action</a>
                          <a class="dropdown-item" href>Another action</a>
                          <a class="dropdown-item" href>Something else here</a>
                          <div class="dropdown-divider"></div>
                          <div class="dropdown-item dropdown-submenu">
                            <a tabindex="-1" href>Separated link</a>
                            <div class="dropdown-menu" role="menu">
                              <a class="dropdown-item" href>Action</a>
                              <a class="dropdown-item" href>Another action</a>
                              <a class="dropdown-item" href>Something else here</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!--Clear menu with popout on left-->
                      <div class="dropdown dropup m-r pull-left">
                        <div class="dropdown-menu pos-stc inline pull-left" role="menu">
                          <a class="dropdown-item" href>Action</a>
                          <a class="dropdown-item" href>Another action</a>
                          <a class="dropdown-item" href>Something else here</a>
                          <div class="dropdown-divider"></div>
                          <div class="dropdown-item dropdown-submenu">
                            <a tabindex="-1" href>Separated link</a>
                            <div class="dropdown-menu pull-left" role="menu">
                              <a class="dropdown-item" href>Action</a>
                              <a class="dropdown-item" href>Another action</a>
                              <a class="dropdown-item" href>Something else here</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!--Clear menu dark-->
                      <div class="dropdown dropup m-r pull-left">
                        <div class="dropdown-menu pos-stc inline dark" role="menu">
                          <a class="dropdown-item" href>Action</a>
                          <a class="dropdown-item" href>Another action</a>
                          <a class="dropdown-item" href>Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item">Separated link</a>
                        </div>
                      </div>

                      <!--Clear menu info-->
                      <div class="dropdown dropup m-r pull-left">
                        <div class="dropdown-menu pos-stc inline info" role="menu">
                          <a class="dropdown-item" href>Action</a>
                          <a class="dropdown-item" href>Another action</a>
                          <a class="dropdown-item" href>Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item">Separated link</a>
                        </div>
                      </div>
                    </div>
                </div>
                <!--end pattern -->
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-header">
                <h3>Dropdowns</h3>
                <small>Pattern Reference: xxxxxx</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    <div class="m-b-md">
                      <div class="dropdown inline">
                        <button class="btn white dropdown-toggle" data-toggle="dropdown">Action </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href>Action</a>
                          <a class="dropdown-item" href>Another action</a>
                          <a class="dropdown-item" href>Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item">Separated link</a>
                        </div>
                      </div>


                      <div class="dropdown inline">
                        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Action </button>
                        <div class="dropdown-menu pull-right">
                          <a class="dropdown-item" href>Action</a>
                          <a class="dropdown-item" href>Another action</a>
                          <a class="dropdown-item" href>Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item">Separated link</a>
                        </div>
                      </div>


                      <div class="dropdown dropup inline">
                        <button class="btn white dropdown-toggle" data-toggle="dropdown">Action </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href>Action</a>
                          <a class="dropdown-item" href>Another action</a>
                          <a class="dropdown-item" href>Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item">Separated link</a>
                        </div>
                      </div>
                    </div>
                </div>
                <!--end pattern -->
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-header">
                <h3>Single Button Dropdowns</h3>
                <small>Pattern Reference: xxxxxx</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    <div class="m-b-md">
                      <div class="dropdown inline">
                        <button class="btn white dropdown-toggle" data-toggle="dropdown">Action </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href>Action</a>
                          <a class="dropdown-item" href>Another action</a>
                          <a class="dropdown-item" href>Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item">Separated link</a>
                        </div>
                      </div>


                      <div class="dropdown inline">
                        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Action </button>
                        <div class="dropdown-menu pull-right">
                          <a class="dropdown-item" href>Action</a>
                          <a class="dropdown-item" href>Another action</a>
                          <a class="dropdown-item" href>Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item">Separated link</a>
                        </div>
                      </div>

                      
                      <div class="dropdown dropup inline">
                        <button class="btn white dropdown-toggle" data-toggle="dropdown">Action </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href>Action</a>
                          <a class="dropdown-item" href>Another action</a>
                          <a class="dropdown-item" href>Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item">Separated link</a>
                        </div>
                      </div>
                    </div>
                </div>
                <!--end pattern -->
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-header">
                <h3>Split Button Dropdowns & Variation</h3>
                <small>Pattern Reference: xxxxxx</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    <div class="m-b-md">
                      <div class="m-b-xs">
                        <div class="btn-group dropdown">
                          <button class="btn white">Dropdown</button>
                          <button class="btn white dropdown-toggle" data-toggle="dropdown"></button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href>Action</a>
                            <a class="dropdown-item" href>Another action</a>
                            <a class="dropdown-item" href>Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">Separated link</a>
                          </div>
                        </div>
                        <div class="btn-group dropdown">
                          <button class="btn white">Dropdown right</button>
                          <button class="btn white dropdown-toggle" data-toggle="dropdown"></button>
                          <div class="dropdown-menu pull-right">
                            <a class="dropdown-item" href>Action</a>
                            <a class="dropdown-item" href>Another action</a>
                            <a class="dropdown-item" href>Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">Separated link</a>
                          </div>
                        </div>
                      </div>
                      <div class="btn-group dropdown dropup">
                        <button class="btn white">Dropup</button>
                        <button class="btn white dropdown-toggle" data-toggle="dropdown"></button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href>Action</a>
                          <a class="dropdown-item" href>Another action</a>
                          <a class="dropdown-item" href>Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item">Separated link</a>
                        </div>
                      </div>
                      <div class="btn-group dropdown dropup">
                        <button class="btn white">Dropup right</button>
                        <button class="btn white dropdown-toggle" data-toggle="dropdown"></button>
                        <div class="dropdown-menu pull-right">
                          <a class="dropdown-item" href>Action</a>
                          <a class="dropdown-item" href>Another action</a>
                          <a class="dropdown-item" href>Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item">Separated link</a>
                        </div>
                      </div>
                    </div>
                </div>
                <!--end pattern -->
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-header">
                <h3>Dropdown with Scale and Animation</h3>
                <small>Pattern Reference: xxxxxx</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    <div class="m-b-lg">
                      <div class="m-b-xs">
                        <div class="btn-group dropdown">
                          <button class="btn white dropdown-toggle" data-toggle="dropdown">Dropdown</button>
                          <div class="dropdown-menu dropdown-menu-scale">
                            <a class="dropdown-item" href>Action</a>
                            <a class="dropdown-item" href>Another action</a>
                            <a class="dropdown-item" href>Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">Separated link</a>
                          </div>
                        </div>
                        <div class="btn-group dropdown">
                          <button class="btn white dropdown-toggle" data-toggle="dropdown">Dropdown right</button>
                          <div class="dropdown-menu dropdown-menu-scale pull-right">
                            <a class="dropdown-item" href>Action</a>
                            <a class="dropdown-item" href>Another action</a>
                            <a class="dropdown-item" href>Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">Separated link</a>
                          </div>
                        </div>
                      </div>
                      <div class="btn-group dropdown dropup">
                        <button class="btn white dropdown-toggle" data-toggle="dropdown">Dropup</button>
                        <div class="dropdown-menu dropdown-menu-scale">
                          <a class="dropdown-item" href>Action</a>
                          <a class="dropdown-item" href>Another action</a>
                          <a class="dropdown-item" href>Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item">Separated link</a>
                        </div>
                      </div>
                      <div class="btn-group dropdown dropup">
                        <button class="btn white dropdown-toggle" data-toggle="dropdown">Dropup right</button>
                        <div class="dropdown-menu dropdown-menu-scale pull-right">
                          <a class="dropdown-item" href>Action</a>
                          <a class="dropdown-item" href>Another action</a>
                          <a class="dropdown-item" href>Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item">Separated link</a>
                        </div>
                      </div>
                    </div>
                </div>
                <!--end pattern -->
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
  </div>

  
</div>
