<div class="box__brand-black no-borders m-a-0">
    <div class="box-header">
        <h1>Page / Loaders UI</h1>
        <!-- <h3>The kind that are <span class="_700">SORTABLE</span>, have <span class="_700">FILTER</span> controls, and are <span class="_700">RESPONSIVE</span></h3> -->
    </div>
</div>

  
  <div class="row">
    <div class="col-md-6">
      <div class="box__style-guide">
        <div class="box-header">
          <h2>CSS Square Red Jelly Box</h2>
          <small>Pattern ref: xxxxxxx</small>
        </div>
        <div class="box-body">
          <!--begin pattern -->
          <div class="makecodeview">
            <div class="la-square-jelly-box la-2x">
                <div></div>
                <div></div>
            </div>
          </div>
          <!--end pattern-->
          <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
          <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
          <code>CSS only</code>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box__style-guide">
        <div class="box-header">
          <h2>CSS Spinner Cube Grid</h2>
          <small>Pattern ref: xxxxxxx</small>
        </div>
        <div class="box-body">
          <!--begin pattern -->
          <div class="makecodeview">
              <div class="spinner-sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
              </div>
          </div>
          <!--end pattern-->
          <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
          <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
          <code>CSS only</code>
        </div>
      </div>
    </div>
  </div>

  

  <div class="row">
    <div class="col-md-6">
      <div class="box__style-guide">
        <div class="box-header">
          <h2>CSS Spinner Flip Square</h2>
          <small>Pattern ref: xxxxxxx</small>
        </div>
        <div class="box-body">
          <!--begin pattern -->
          <div class="makecodeview">
            <div class="spinner--square-flip"></div>
          </div>
          <!--end pattern-->
          <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
          <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
          <code>CSS only</code>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box__style-guide">
        <div class="box-header">
          <h2>CSS Circle Zoon </h2>
          <small>Pattern ref: xxxxxxx</small>
        </div>
        <div class="box-body">
          <!--begin pattern -->
          <div class="makecodeview">
              <div class="spinner--circle-zoom">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
              </div>
          </div>
          <!--end pattern-->
          <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
          <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
          <code>CSS only</code>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="box__style-guide">
        <div class="box-header">
          <h2>Material Loading Spinner Example 1</h2>
          <small>Pattern ref: xxxxxxx</small>
        </div>
        <div class="box-body">
          <!--begin pattern -->
          <div class="makecodeview">
            <div class="m-spinner">
              <svg class="material-spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                 <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div>
          <!--end pattern-->
          <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
          <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
          <code>SVG + CSS only</code>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box__style-guide">
        <div class="box-header">
          <h2>Material Example 2</h2>
          <small>Pattern ref: xxxxxxx</small>
        </div>
        <div class="box-body padding">
          <!--begin pattern -->
          <div class="makecodeview padding">
              <div data-loader="jumping"></div>
          </div>
          <!--end pattern-->
          <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
          <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
          <code>CSS only</code>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="box__style-guide">
        <div class="box-header">
          <h2>Page Loading Example 1</h2>
          <small>Pattern ref: xxxxxxx</small>
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body">
          <!--begin pattern -->
          <div class="makecodeview">
            <div class="spinner spinner-small">
              <div class="spinner__bounce1 spinner__circle"></div>
              <div class="spinner__bounce2 spinner__circle"></div>
              <div class="spinner__bounce3 spinner__circle"></div>
              <h3 class="spinner__text">Loading</h3>
            </div>
          </div>
          <!--end pattern-->
          <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
          <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box__style-guide">
        <div class="box-header">
          <h2>Page Loading Example 2</h2>
          <small>Pattern ref: xxxxxxx</small>
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body">
          <!--begin pattern -->
          <button type="button" class="btn btn-fw white overlay-spinner2">Click for Spinner 2</button>
          <div class="makecodeview">
            <div  id="overlay2" class="overlay">
              <div class="spinner spinner-large">
                <div class="spinner__logo"><img src="../assets/images/g4s-logo.svg" alt="g4s"></div>
                <div class="spinner__bounce1 spinner__circle"></div>
                <div class="spinner__bounce2 spinner__circle"></div>
                <div class="spinner__bounce3 spinner__circle"></div>
                <h3 class="spinner__text">Loading</h3>
              </div>
            </div>
          </div>
          <!--end pattern-->
          <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
          <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="box__style-guide">
        <div class="box-header">
          <h2>Button Loading Examples</h2>
          <small>Pattern ref: xxxxxxx</small>
          <small>This example is with jquery code which add "loading--on" class to the button to show the loading animation</small>
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body">
          <!--begin pattern -->
          
          <div class="makecodeview">
            <button class="btn btn white loading"><span>Submit </span><em></em><em></em><em></em></button>
          </div>
          <!--end pattern-->
          <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
          <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="box__style-guide">
        <div class="box-header">
          <h2>Button Loading Example 2</h2>
          <small>Pattern ref: xxxxxxx</small>
          <small>This example is with an added class "loading--on" which shows the loading animation</small>
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body">
          <!--begin pattern -->
          <div class="makecodeview">
            <button class="btn btn white loading loading--on"><span>Submit </span><em></em><em></em><em></em></button>
          </div>
          <!--end pattern-->
          <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
          <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
        </div>
      </div>
    </div>
  </div>

<script src="scripts/jquery/custom/loader.js"></script>




