<div class="box__brand-black no-borders m-a-0">
    <div class="box__header__brand-neutral-light">
        <h1>Navigation UI</h1>
        This includes navigation components for use <span class="_700">IN FEATURE</span>
    </div>
</div>

<div class="row m-b">
    <div class="col-sm-12">
        <div class="box__style-guide" id="ui-search__navigation-page-001">
            <div class="box-header">
                Navigation (Section / Feature)
                <small>Pattern Reference: <code class="grey-900">navigation-page-001</code></small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    
                        <div class="box__feature-navigation">
                            <div class="box-header">
                                Feature or Page Title
                            </div>
                            <div class="box-tool">
                                <ul class="nav">
                                    <li class="nav-item inline dropdown">
                                        <a class="nav-link" data-toggle="dropdown">
                                            <button class="btn btn-xs white btn-block"><i class="material-icons md-24">dehaze</i> Actions</button>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-scale pull-right">
                                            <a class="dropdown-item openInPage">
                                                <i class="material-icons md-24">add</i> Add something
                                            </a>
                                            <!-- <a class="dropdown-item" href ng-click="viewScheduler();">
                                                <i class="material-icons md-24">&#xe896; </i> View Task Scheduler
                                            </a> -->
                                            <a class="dropdown-item" href>
                                                <i class="material-icons md-24">list</i> List something
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href>
                                                Seperated Link (if needed)
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    
                </div>
                <!--end pattern -->
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>

</div>