<div class="box__brand-black no-borders m-a-0">
    <div class="box-header">
        <h1>Alert (Bootstrap UI NG Version)</h1>
        <!-- <h3>The kind that are <span class="_700">SORTABLE</span>, have <span class="_700">FILTER</span> controls, and are <span class="_700">RESPONSIVE</span></h3> -->
    </div>
</div>

<div class="row m-b">
    <div class="col-sm-12">
        <div class="box__style-guide">
            <div class="box-header">
                Add class to alert for colour...
                <small>Pattern ref: xxxxxxx</small>
            </div>
            <div class="box-body">
                <!--begin pattern -->
                <div class="makecodeview">
                    
                    <uib-alert class="red-900">Primary</uib-alert>
                    <uib-alert class="blue-grey-900">Another</uib-alert>
                    
                </div>
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    </div>
    
</div>
 

