<div class="box__brand-black no-borders m-a-0">
    <div class="box-header">
        <h1>Toggle Switch (Alternative) UI</h1>
        <!-- <h3>The kind that are <span class="_700">SORTABLE</span>, have <span class="_700">FILTER</span> controls, and are <span class="_700">RESPONSIVE</span></h3> -->
    </div>
</div>

<div class="row m-b">

    <div class="col-sm-4">
        <!--begin pattern -->
        
        <div class="box__style-guide">
            <div class="box-header">
                State
            </div>
            <div class="box-body">
                <div class="makecodeview">
                    <p>
                      <input id="switch-state" type="checkbox" checked>
                    </p>
                    <div class="btn-group">
                      <button type="button" data-switch-toggle="state" class="btn white btn-xs">Toggle</button>
                      <button type="button" data-switch-set="state" data-switch-value="true" class="btn white btn-xs">Set true</button>
                      <button type="button" data-switch-set="state" data-switch-value="false" class="btn white btn-xs">Set false</button>
                      <button type="button" data-switch-get="state" class="btn white btn-xs">Get</button>
                    </div>
                </div>
                <!--end pattern -->
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom">
                    &lt;input id=&quot;switch-state&quot; type=&quot;checkbox&quot; checked&gt;
                </pre>
                <span class="clip__code label label-md accent pos-rlt m-r-xs"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
            </div>
        </div>
    
        
    </div>

    <div class="col-sm-4">
        <!--begin pattern -->
        
            <div class="box__style-guide">
                <div class="box-header">
                    Size
                    
                </div>
                <div class="box-body">
                    <div class="makecodeview">
                        <p>
                          <input id="switch-size" type="checkbox" checked data-size="mini">
                        </p>
                        <div class="btn-group">
                          <button type="button" data-switch-set="size" data-switch-value="mini" class="btn btn-xs white">Mini</button>
                          <button type="button" data-switch-set="size" data-switch-value="small" class="btn btn-xs white">Small</button>
                          <button type="button" data-switch-set="size" data-switch-value="normal" class="btn btn-xs white">Normal</button>
                          <button type="button" data-switch-set="size" data-switch-value="large" class="btn btn-xs white">Large</button>
                          <button type="button" data-switch-get="size" class="btn btn-xs white">Get</button>
                        </div>
                    </div>
                    <!--end pattern -->
                    <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom">
                        &lt;input id=&quot;switch-size&quot; type=&quot;checkbox&quot; checked&gt;
                    </pre>
                    <span class="clip__code label label-md accent pos-rlt m-r-xs"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
                </div>
            </div>
        
        
    </div>

    <div class="col-sm-4">
        <!--begin pattern -->
        <div class="box__style-guide">
                <div class="box-header">
                    Animate
                    
                </div>
                <div class="box-body">
                    <div class="makecodeview">
                        <p>
                          <input id="switch-animate" type="checkbox" checked>
                        </p>
                        <p>
                          <button type="button" data-switch-toggle="animate" class="btn btn-xs white">Toggle</button>
                          <button type="button" data-switch-get="animate" class="btn btn-xs white">Get</button>
                        </p>
                    </div>
                    <!--end pattern -->
                    <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom">
                        &lt;input id=&quot;switch-animate&quot; type=&quot;checkbox&quot; checked&gt;
                    </pre>
                    <span class="clip__code label label-md accent pos-rlt m-r-xs"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
                </div>
            </div>
            
    </div>

</div>

<div class="row m-b">

    <div class="col-sm-4">
        <!--begin pattern -->
        <div class="">
            <div class="box__style-guide">
                <div class="box-header">
                    Disabled
                    
                </div>
                <div class="box-body">
                    <p>
                      <input id="switch-disabled" type="checkbox" checked disabled>
                    </p>
                    <p>
                      <button type="button" data-switch-toggle="disabled" class="btn btn-xs white">Toggle</button>
                      <button type="button" data-switch-get="disabled" class="btn btn-xs white">Get</button>
                    </p>
                </div>
            </div>
        </div>
        <!--end pattern -->
    </div>

    <div class="col-sm-4">
        <!--begin pattern -->
        <div class="">
            <div class="box__style-guide">
                <div class="box-header">
                    Readonly
                    
                </div>
                <div class="box-body">
                    <p>
                      <input id="switch-readonly" type="checkbox" checked readonly>
                    </p>
                    <p>
                      <button type="button" data-switch-toggle="readonly" class="btn btn-xs white">Toggle</button>
                      <button type="button" data-switch-get="readonly" class="btn btn-xs white">Get</button>
                    </p>
                </div>
            </div>
        </div>
        <!--end pattern -->
    </div>

    <div class="col-sm-4">
        <!--begin pattern -->
        <div class="">
            <div class="box__style-guide">
                <div class="box-header">
                    Indeterminate
                    
                </div>
                <div class="box-body">
                    <p>
                      <input id="switch-indeterminate" type="checkbox" checked data-indeterminate="true">
                    </p>
                    <p>
                      <button type="button" data-switch-toggle="indeterminate" class="btn btn-xs white">Toggle</button>
                      <button type="button" data-switch-get="indeterminate" class="btn btn-xs white">Get</button>
                    </p>
                </div>
            </div>
        </div>
        <!--end pattern -->
    </div>
</div>

<div class="row m-b">

    <div class="col-sm-4">
        <!--begin pattern -->
        <div class="">
            <div class="box__style-guide">
                <div class="box-header">
                    Inverse
                    
                </div>
                <div class="box-body">
                    <p>
                      <input id="switch-inverse" type="checkbox" checked data-inverse="true">
                    </p>
                    <p>
                      <button type="button" data-switch-toggle="inverse" class="btn btn-xs white">Toggle</button>
                      <button type="button" data-switch-get="inverse" class="btn btn-xs white">Get</button>
                    </p>
                </div>
            </div>
        </div>
        <!--end pattern -->
    </div>

    <div class="col-sm-4">
        <!--begin pattern -->
        <div class="">
            <div class="box__style-guide">
                <div class="box-header">
                    On Colour
                    
                </div>
                <div class="box-body">
                    <p>
                      <input id="switch-onColor" type="checkbox" checked data-on-color="info">
                    </p>
                    <p class="btn-group">
                      <div class="btn-group">
                        <button type="button" data-toggle="dropdown" class="btn btn-xs white dropdown-toggle">Set &nbsp;<span class="caret"></span></button>
                        <div role="menu" class="dropdown-menu">
                          <li><a data-switch-set="onColor" data-switch-value="primary">Primary</a></li>
                          <li><a data-switch-set="onColor" data-switch-value="info">Info</a></li>
                          <li><a data-switch-set="onColor" data-switch-value="success">Success</a></li>
                          <li><a data-switch-set="onColor" data-switch-value="warning">Warning</a></li>
                          <li><a data-switch-set="onColor" data-switch-value="default">Default</a></li>
                        </div>
                      </div>
                      <button type="button" data-switch-get="onColor" class="btn btn-xs white">Get</button>
                    </p>
                </div>
            </div>
        </div>
        <!--end pattern -->
    </div>

    <div class="col-sm-4">
        <!--begin pattern -->
        <div class="">
            <div class="box__style-guide">
                <div class="box-header">
                    Off Colour
                    
                </div>
                <div class="box-body">
                    <p>
                      <input id="switch-offColor" type="checkbox" data-off-color="warning">
                    </p>
                    <p class="btn-group">
                      <div class="btn-group">
                        <button type="button" data-toggle="dropdown" class="btn btn-xs white dropdown-toggle">Set &nbsp;<span class="caret"></span></button>
                        <div role="menu" class="dropdown-menu">
                          <li><a data-switch-set="offColor" data-switch-value="primary">Primary</a></li>
                          <li><a data-switch-set="offColor" data-switch-value="info">Info</a></li>
                          <li><a data-switch-set="offColor" data-switch-value="success">Success</a></li>
                          <li><a data-switch-set="offColor" data-switch-value="warning">Warning</a></li>
                          <li><a data-switch-set="offColor" data-switch-value="default">Default</a></li>
                        </div>
                      </div>
                      <button type="button" data-switch-get="offColor" class="btn btn-xs white">Get</button>
                    </p>
                </div>
            </div>
        </div>
        <!--end pattern -->
    </div>
</div>

<div class="row m-b">

    <div class="col-sm-4">
        <!--begin pattern -->
        <div class="">
            <div class="box__style-guide">
                <div class="box-header">
                    On Text
                    
                </div>
                <div class="box-body">
                    <p>
                      <input id="switch-onText" type="checkbox" checked data-on-text="Yes">
                    </p>
                    <div class="row">
                      <div class="col-sm-6">
                        <input type="text" data-switch-set-value="onText" value="Yes" class="form-control">
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end pattern -->
    </div>

    <div class="col-sm-4">
        <!--begin pattern -->
        <div class="">
            <div class="box__style-guide">
                <div class="box-header">
                    Off Text
                    
                </div>
                <div class="box-body">
                    <p>
                      <input id="switch-offText" type="checkbox" data-off-text="No">
                    </p>
                    <div class="row">
                      <div class="col-sm-6">
                        <input type="text" data-switch-set-value="offText" value="No" class="form-control">
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end pattern -->
    </div>

    <div class="col-sm-4">
        <!--begin pattern -->
        <div class="">
            <div class="box__style-guide">
                <div class="box-header">
                    Label Text
                    
                </div>
                <div class="box-body">
                    <p>
                      <input id="switch-labelText" type="checkbox" data-label-text="Label">
                    </p>
                    <div class="row">
                      <div class="col-sm-6">
                        <input type="text" data-switch-set-value="labelText" class="form-control">
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end pattern -->
    </div>
</div>

<div class="row m-b">

    <div class="col-sm-4">
        <!--begin pattern -->
        <div class="">
            <div class="box__style-guide">
                <div class="box-header">
                    Handle Width
                    
                </div>
                <div class="box-body">
                    <p>
                      <input id="switch-handleWidth" type="checkbox" data-handle-width="100">
                    </p>
                    <div class="row">
                      <div class="col-sm-6">
                        <input type="number" data-switch-set-value="handleWidth" value="100" class="form-control">
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end pattern -->
    </div>

    <div class="col-sm-4">
        <!--begin pattern -->
        <div class="">
            <div class="box__style-guide">
                <div class="box-header">
                    Label Width
                    
                </div>
                <div class="box-body">
                    <p>
                      <input id="switch-labelWidth" type="checkbox" data-label-width="100">
                    </p>
                    <div class="row">
                      <div class="col-sm-6">
                        <input type="number" data-switch-set-value="labelWidth" value="100" class="form-control">
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end pattern -->
    </div>

    <div class="col-sm-4">
        <!--begin pattern -->
        <div class="">
            <div class="box__style-guide">
                <div class="box-header">
                    Create | Destroy
                    
                </div>
                <div class="box-body">
                    <p>
                      <input id="switch-create-destroy" type="checkbox" checked data-switch-no-init>
                    </p>
                    <div class="row">
                      <div class="col-sm-6">
                        <button type="button" data-switch-create-destroy data-destroy-text="Destroy" class="btn btn-default">Create</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end pattern -->
    </div>
</div>

<div class="row m-b">

    <div class="col-sm-6">
        <!--begin pattern -->
        <div class="">
            <div class="box__style-guide">
                <div class="box-header">
                    Radio All Off (Disabled)
                    
                </div>
                <div class="box-body">
                    <h3 class="h5">Disabled
                    <input type="radio" name="radio1" checked class="switch-radio1">
                    <input type="radio" name="radio1" class="switch-radio1">
                    <input type="radio" name="radio1" class="switch-radio1">
                </div>
            </div>
        </div>
        <!--end pattern -->
    </div>

    <div class="col-sm-6">
        <!--begin pattern -->
        <div class="">
            <div class="box__style-guide">
                <div class="box-header">
                    Radio All Off (Enabled)
                    
                </div>
                <div class="box-body">
                    <h3 class="h5">Enabled
                    <input type="radio" name="radio2" checked data-radio-all-off="true" class="switch-radio2">
                    <input type="radio" name="radio2" data-radio-all-off="true" class="switch-radio2">
                    <input type="radio" name="radio2" data-radio-all-off="true" class="switch-radio2">
                </div>
            </div>
        </div>
        <!--end pattern -->
    </div>

</div>
