<div class="styleguide">

  <div class="row m-b">

    <div class="col-sm-12">

      <div class="box" id="ui-search__table004">
        <div class="box-header dker">
          <h3>Data Table with Accordions</h3>
          <small>Pattern ref: table004</small>
        </div>
        <div class="box-body">
          <div class="table-responsive">
            <div class="makecodeview">
              <table ui-jp="dataTable" class="table table-striped">
                <thead>
                  <tr>
                    <th style="width:20%">Rendering engine</th>
                    <th style="width:25%">Browser</th>
                    <th style="width:25%">Platform(s)</th>
                    <th style="width:15%">Engine version</th>
                    <th style="width:15%">CSS grade</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-click="custom=!custom">
                    <td style="width:20%">Rendering engine</td>
                    <td style="width:25%">Browser</td>
                    <td style="width:25%">Platform(s)</td>
                    <td style="width:15%">Engine version</td>
                    <td style="width:15%">CSS grade</td>
                  </tr>
                  <tr ng-show="custom">
                    <td colspan="5">
                      <div>Your content here. Your content here. Your content here. Your content here. Your content here. Your content here. Your content here. Your content here. Your content here. Your content here. Your content here. Your content here. Your content here. Your content here. Your content here. Your content here. Your content here. Your content here. Your content here. Your content here. </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
            <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
          </div>
        </div>
      </div>
      
    </div>

  </div>

</div>