<div class="box__brand-black no-borders m-a-0">
    <div class="box-header">
        <h1>Table UI</h1>
        <!-- <h3>The kind that are <span class="_700">SORTABLE</span>, have <span class="_700">FILTER</span> controls, and are <span class="_700">RESPONSIVE</span></h3> -->
    </div>
</div>
<div class="box__style-guide" id="ui-search__table002">
          <div class="box-header">
              Basic
              <small>Pattern ref: table002</small>
          </div>
          <div class="box-body">
              <!--begin pattern -->
              <div class="makecodeview">
                <table class="table white">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>First</th>
                      <th>Change Description</th>
                      <th>IP</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>001</td>
                      <td>Lewis Rogers</td>
                      <td>Change made to front desk post.</td>
                      <td>173.121.21.0</td>
                      <td>13/05/1979</td>
                    </tr>
                    <tr>
                      <td>002</td>
                      <td>Calvin Kent</td>
                      <td>Change made to front desk post.</td>
                      <td>173.12.81.0</td>
                      <td>16/05/1979</td>
                    </tr>
                    <tr>
                      <td>003</td>
                      <td>Tan Kent</td>
                      <td>Edited duplicate record</td>
                      <td>196.121.21.0</td>
                      <td>17/05/1979</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
              <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
          </div>
</div>