.shift-pattern{
  thead{
    tr{
      th{
        padding: 5px;
      }
    }
  }
  tbody{
    tr{
       td{
        padding: 5px;
      }
    }
  }
}
.shift-pattern-row{
  border: 1px solid #E8E8E8;
  border-radius: 3px;
}
.shift-pattern-row .col-sm-12 {
  margin-top: 10px;
}
