<div class="box__breadcrumbs">
    <div class="breadcrumbs__header">
        <ol class="breadcrumb">
            <li><a href>Contracts</a></li>
            <li class="active">Add Skills</li>
        </ol>
    </div>
</div>
<div class="box__feature-navigation">
    <div class="box-header">
        Add Skills
    </div>
    <div class="box-tool">
        <ul class="nav">
            <li class="nav-item inline dropdown">
                <a class="nav-link" data-toggle="dropdown">
                    <button class="btn btn-xs white btn-block"><i class="material-icons md-24">&#xe3C7; </i> Actions</button>
                </a>
                <div class="dropdown-menu dropdown-menu-scale pull-right">
                    <a class="dropdown-item openInPage">
                        <i class="material-icons md-24">&#xe145; </i> Option 1
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href>
                        Seperated Link (if needed)
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div ng-controller="WorkContractsCtrl" class="">
    <div class="row">
        <div class="col-sm-12">
              <div class="input-group input-group-lg">
              <span class="input-group-btn">
                <button type="submit" class="btn white b-a rounded no-shadow"><i class="material-icons">filter_list</i></button>
              </span>
              <input id="filter" type="text" class="form-control p-x b-a rounded" placeholder="Search Skills / Licences">
            </div>
        </div>
    </div>
    <table class="table table-hover  b-a" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
            <tr>
                <th data-toggle="true">ID</th>
                <th>
                    Skill / License
                </th>
                <th data-hide="phone">
                    Details
                </th>
                <th data-sort-ignore="true" data-hide="phone"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>24002</td>
                <td><a href>Boudreaux</a></td>
                <td>Traffic Court Referee</td>
                <td>
                    <button type="button" ng-click="removeItem(row)" class="btn btn-xs blue-grey-900 pull-right">
                        Add Skill
                    </button>
                </td>
            </tr>
            <tr>
                <td>29000</td>
                <td>Woldt</td>
                <td><a href>Airline Transport Pilot</a></td>
                <td>
                    <button type="button" ng-click="removeItem(row)" class="btn btn-xs blue-grey-900 pull-right">
                        Add Skill
                    </button>
                </td>
            </tr>
            <tr>
                <td>27865</td>
                <td>Leonardo</td>
                <td>Business Services Sales Representative</td>
                <td>
                    <button type="button" ng-click="removeItem(row)" class="btn btn-xs blue-grey-900 pull-right">
                        Add Skill
                    </button>
                </td>
            </tr>
            <tr>
                <td>23465</td>
                <td>Test Contract</td>
                <td>Business Services</td>
                <td>
                    <button type="button" ng-click="removeItem(row)" class="btn btn-xs blue-grey-900 pull-right">
                        Add Skill
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-fw blue-grey-900 m-l" ui-sref="app.jlsapp.contracts-workorder">Add Skills</button> 
            <button class="btn btn-fw white" ui-sref="app.jlsapp.contracts-workorder">Cancel</button>    
        </div>
    </div>
</div>