<div class="box__brand-black no-borders m-a-0">
    <div class="box-header">
        <h1>Form Layout UI</h1>
        <!-- <h3>The kind that are <span class="_700">SORTABLE</span>, have <span class="_700">FILTER</span> controls, and are <span class="_700">RESPONSIVE</span></h3> -->
    </div>
</div>
<div class="row m-b">
    <div class="col-md-6">
      <div class="box__style-guide" id="ui-search__form-standard-block">
        <div class="box-header">
          Basic Form Standard Block
          <small>Pattern ref: form-standard-block</small>
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body">
          <!--begin pattern -->
          <div class="makecodeview">
            <form role="form">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile" class="form-control">
                <p class="help-block">Example block-level help text here.</p>
              </div>
              <div class="checkbox">
                <label class="ui-check ui-check-md">
                  <input type="checkbox">
                  <i class="dark-white"></i>
                  Medium size Material Design Checkbox
                </label>
              </div>
              <button type="submit" class="btn white m-b">Submit</button>
            </form>
          </div>
          <!--end pattern-->
          <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
          <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box__style-guide" id="ui-search__form-horizontal">
        <div class="box-header">
          Horizontal form
          <small>Pattern ref: form-horizontal</small>
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body">
          <!--begin pattern -->
          <div class="makecodeview">
            <form role="form">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 form-control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 form-control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 form-control-label">File</label>
                <div class="col-sm-10">
                  <input type="file" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 form-control-label">Select</label>
                <div class="col-sm-10">
                  <select class="form-control c-select">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 form-control-label">Textarea</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="2"></textarea>
                </div>
              </div>
              <div class="form-group row m-t-md">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn white">Sign in</button>
                </div>
              </div>
            </form>
          </div>
          <!--end pattern-->
          <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
          <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
        </div>
      </div>
    </div>
</div>

<div class="row m-b">
  <div class="col-md-12">
    <div class="box__style-guide" id="ui-search__form-inline">
      <div class="box-header">
        Inline Form
        <small>Pattern ref: form-inline</small>
      </div>
      <div class="box-divider m-a-0"></div>
      <div class="box-body">
        <!--begin pattern -->
        <div class="makecodeview">
          <form class="form-inline" role="form">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">@</div>
                <input class="form-control" type="email" placeholder="Enter email">
              </div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputPassword2">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
            </div>
            <div class="checkbox m-l">
                <label class="ui-check ui-check-md">
                  <input type="checkbox">
                  <i class="dark-white"></i>
                  Remember
                </label>
              </div>
            <button type="submit" class="btn white">Sign in</button>
          </form>
        </div>
        <!--end pattern-->
        <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom"></pre>
        <span class="clip__code label label-md accent pos-rlt m-r-xs pull-left"><b class="arrow top b-accent pull-left"></b>Click Code to Copy</span>
      </div>
    </div>
  </div>
</div>
