<div class="box__brand-black no-borders m-a-0">
    <div class="box-header">
        <h1>Editable Form</h1>
        <!-- <h3>The kind that are <span class="_700">SORTABLE</span>, have <span class="_700">FILTER</span> controls, and are <span class="_700">RESPONSIVE</span></h3> -->
    </div>
</div>

<div class="box__feature-navigation">
    <div class="box-header" ng-class="{'box-header__editing': tableform.$visible, 'box-header': !tableform.$visible}">
        <span class="_700 text-lg">Form Title</span>
    </div>
    <div ng-show="tableform.$visible" class="red-600 p-a"><span class="text-sm animated slowitdown infinite _700" ng-show="tableform.$visible"><i class="material-icons pull-right _700">edit</i> EDITING (Click Save button at bottom of form once you have finished editing)</span></div>
    <!-- <div class="box-tool">
        <ul class="nav">
            <li class="nav-item inline dropdown">
                <a class="nav-link" data-toggle="dropdown">
                    <button class="btn btn-xs white btn-block"><i class="material-icons md-24">&#xe3C7; </i> Actions</button>
                </a>
                <div class="dropdown-menu dropdown-menu-scale pull-right">
                    <a class="dropdown-item openInPage">
                        <i class="material-icons md-24">&#xe145; </i> Create New Contract
                    </a>
                    <a class="dropdown-item" href ng-click="viewScheduler();">
                        <i class="material-icons md-24">&#xe896; </i> View Task Scheduler
                    </a>
                    <a class="dropdown-item" href ng-click="viewIncidents();">
                        <i class="material-icons md-24">&#xe896; </i> View Incidents Overview
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href>
                        Seperated Link (if needed)
                    </a>
                </div>
            </li>
        </ul>
    </div> -->
</div>
{{tableForm.$visible}}
<form class="text-md" editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()" ng-class="{'grey-100': tableform.$visible, 'grey-900': !tableform.$visible}">

  <!-- table -->
  <table class="table table-hover m-a-0">
    <tr style="font-weight: bold">
      <td style="width:40%">Name</td>
      <td style="width:30%">Status</td>
      <td style="width:30%">Group</td>
      <td style="width:30%"><span ng-show="tableform.$visible">Action</span></td>
    </tr>
    <tr ng-repeat="user in users | filter:filterUser">
      <td>
        <!-- editable username (text with validation) -->
        <span editable-text="user.name" e-form="tableform" onbeforesave="checkName($data, user.id)">
          {{ user.name || 'empty' }}
        </span>
      </td>
      <td>
        <!-- editable status (select-local) -->
        <span editable-select="user.status" e-form="tableform" e-ng-options="s.value as s.text for s in statuses">
          {{ showStatus(user) }}
        </span>
      </td>
      <td>
        <!-- editable group (select-remote) -->
        <span editable-select="user.group" e-form="tableform" onshow="loadGroups()" e-ng-options="g.id as g.text for g in groups">
          {{ showGroup(user) }}
        </span>
      </td>
      <td><button type="button" ng-show="tableform.$visible" ng-click="removeUser(user.id)" class="btn btn-sm btn-danger pull-right">Del</button></td>
    </tr>
  </table>

  <!-- buttons -->
  <div class="p-a dker b-t">
    <div class="btn-edit">
      <button type="button" class="btn primary btn-sm" ng-show="!tableform.$visible" ng-click="tableform.$show()">
        Edit
      </button>
    </div>
    <div class="btn-form" ng-show="tableform.$visible">
      <button type="button" ng-disabled="tableform.$waiting" ng-click="addUser()" class="btn primary btn-sm pull-right">Add row</button>
      <button type="submit" ng-disabled="tableform.$waiting" class="btn primary btn-sm">Save</button>
      <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn white">Cancel</button>
    </div>
  </div>
</form>