<span uib-popover="You have gained access to the Javelin UI Styleguide" popover-animation="true" popover-append-to-body="false" popover-placement="top" popover-title="Grab some UI" popover-class="center" popover-is-open="uiEnabledCheck" popover-trigger="outsideClick"></span>
<ul class="nav m-b-sm" ui-nav ng-show="$state.includes('app.secret') || $state.includes('app.ui') || $state.includes('app.form') || $state.includes('app.table') || $state.includes('app.docs')" ng-click="stopPulse()">
    <li class="nav__heading hidden-folded">The Styleguide</li>
    <li>
      <a class="ui-tooling the-pulse">
        <span class="nav-caret">
          <i class="material-icons">&#xe5c5;</i>
        </span>
        <i class="nav-icon material-icons prepend-icon">build</i>
        <span class="nav-text">The UI Toolbox</span>
      </a>

      <ul class="nav-sub show-up">

        <li>
          <a class="ui-tooling">
            <span class="nav-caret">
              <i class="material-icons">&#xe5c5;</i>
            </span>
            <span class="nav-icon">
              <i class="material-icons">&#xe8f4;</i>
            </span>
            <span>Pattern Catalogue</span>
          </a>

          <ul class="nav-sub">
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.ui.search-catalogue"><span>Search Catalogue</span></a>
            </li>
          </ul>
        </li>

        <li>
          <a class="ui-tooling">
            <span class="nav-caret">
              <i class="material-icons">&#xe5c5;</i>
            </span>
            <span class="nav-icon">
              <i class="material-icons">&#xe3ec;</i>
            </span>
            <span>Design UI</span>
          </a>

          <ul class="nav-sub">
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.ui.accordion"><span>Accordion</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.ui.ngalerts"><span>Alerts (Angular)</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.ui.ng-panel-slide"><span>Angular Panel Slide</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.ui.ng-bootstrap"><span>Bootstrap NG</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.ui.box"><span>Box</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.ui.button"><span>Buttons</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.ui.cards"><span>Cards</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.ui.ngdropdowns"><span>Dropdown (Angular)</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.ui.typography"><span>Typography</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.ui.breadcrumbs"><span>Breadcrumbs</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.ui.loader"><span>Page Loaders</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.ui.modals"><span>Modals</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.ui.color"><span>Color</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.ui.grid"><span>Grid</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.ui.icon"><span>Icons</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.ui.tabs"><span>Tabs</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.ui.toggle-switches"><span>Toggle Switches</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.ui.navigation"><span>Navigation</span></a>
            </li>
          </ul>
        </li>

        <li>
          <a class="ui-tooling">
            <span class="nav-caret">
              <i class="material-icons">&#xe5c5;</i>
            </span>
            <span class="nav-icon">
              <i class="material-icons">&#xe254;</i>
            </span>
            <span>Forms</span>
          </a>

          <ul class="nav-sub show-up">
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.form.layout"><span>Layouts</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.form.element"><span>Inputs</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.form.search"><span>Search</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.form.select"><span>Select</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.form.editable"><span>Editable</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.form.validation"><span>Validation</span></a>
            </li>
          </ul>
        </li>

        <li>
          <a class="ui-tooling">
            <span class="nav-caret">
              <i class="material-icons">&#xe5c5;</i>
            </span>
            <span class="nav-icon">
              <i class="material-icons">&#xe8ef;</i>
            </span>
            <span>Tables</span>
          </a>

          <ul class="nav-sub show-up">
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.table.static"><span>Static</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.table.footable"><span>Footable</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.table.footable-accordion"><span>Footable Accordion</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.table.datatable"><span>Data Table</span></a>
            </li>
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.table.editable"><span class="nav-text">Editable</span></a>
            </li>
          </ul>
        </li>

        <li>
          <a class="ui-tooling">
            <span class="nav-caret">
              <i class="material-icons">&#xe5c5;</i>
            </span>
            <span class="nav-icon">
              <i class="material-icons">&#xe887;</i>
            </span>
            <span>Help</span>
          </a>

          <ul class="nav-sub show-up">
            <!-- Too out of date to list for now -->
            <!-- <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.docs.developer"><span>Web App Help</span></a>
            </li> -->
            <li ui-sref-active="active">
              <a href="contact.html" ui-sref="app.docs.designer"><span>Styleguide Help</span></a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    
    

</ul>

