<!-- dropdown -->
<div class="dropdown-menu pull-right w-xl animated fadeInUp no-bg no-border no-shadow">
    <div class="scrollable" style="">
      <ul class="list-group list-group-gap m-a-0">
        <li class="list-group-item notification grey-900 lt box-shadow-z0 b">
          <span class="pull-left m-r">
            <img src="../static/img/a0.jpg" alt="..." class="w-40 img-circle">
          </span>
          <span class="clear block">
            JLS Meeting <a href class="text-primary">starts</a><br>
            <small class="text-muted">in 5 minutes</small>
          </span>
        </li>
        <li class="list-group-item notification light-blue-900 lt box-shadow-z0 b">
          <span class="pull-left m-r">
            <img src="../static/img/calvin.jpg" alt="..." class="w-40 img-circle">
          </span>
          <span class="clear block">
            <a href class="text-primary">Calvin</a> sent mail<br>
            <small class="text-muted">Over an hour ago</small>
          </span>
        </li>
        <li class="list-group-item notification dark-white text-color box-shadow-z0 b">
          <span class="pull-left m-r">
            <img src="../static/img/lewis.jpg" alt="..." class="w-40 img-circle">
          </span>
          <span class="clear block">
            <a href class="text-primary">lewis</a> set up a hangout<br>
            <small class="text-muted">1 day ago</small>
          </span>
        </li>
        <li class="list-group-item notification light-blue-900 lt box-shadow-z0 b">
          <span class="pull-left m-r">
            <img src="../static/img/calvin.jpg" alt="..." class="w-40 img-circle">
          </span>
          <span class="clear block">
            <a href class="text-primary">Calvin</a> sent mail<br>
            <small class="text-muted">Over an hour ago</small>
          </span>
        </li>
        <li class="list-group-item notification dark-white text-color box-shadow-z0 b">
          <span class="pull-left m-r">
            <img src="../static/img/lewis.jpg" alt="..." class="w-40 img-circle">
          </span>
          <span class="clear block">
            <a href class="text-primary">lewis</a> set up a hangout<br>
            <small class="text-muted">1 day ago</small>
          </span>
        </li>
        <li class="list-group-item notification grey-900 lt box-shadow-z0 b">
          <span class="pull-left m-r">
            <img src="../static/img/a0.jpg" alt="..." class="w-40 img-circle">
          </span>
          <span class="clear block">
            JLS Meeting <a href class="text-primary">starts</a><br>
            <small class="text-muted">in 5 minutes</small>
          </span>
        </li>
        <li class="list-group-item notification grey-900 lt box-shadow-z0 b">
          <span class="pull-left m-r">
            <img src="../static/img/a0.jpg" alt="..." class="w-40 img-circle">
          </span>
          <span class="clear block">
            JLS Meeting <a href class="text-primary">starts</a><br>
            <small class="text-muted">in 5 minutes</small>
          </span>
        </li>
      </ul>
    </div>
</div>
<!-- / dropdown -->
