<div class="aside header__notifications" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">
          <i class="material-icons md-24">&#xe3c7;</i>
        </button>
        <h4 class="aside-title" ng-bind-html="title"></h4>
      </div>
      <div class="aside-body" ng-show="content">

        <div class="list box">
          <div class="list-item">
            <div class="list-left">
              <img src="../static/img/calvin.jpg" class="w-40 circle">
            </div>
            <div class="list-body">
              <a href class="_500">Calvin Kent</a>
              <small class="block text-muted">Hangout request</small>
            </div>
          </div>
          <div class="list-item">
            <div class="list-left">
              <img src="../static/img/lewis.jpg" class="w-40 circle">
            </div>
            <div class="list-body">
              <a href class="_500">Lewis Rogers.</a>
              <small class="block text-muted">Design studio</small>
            </div>
          </div>
        </div>

        <div class="list inset box">
          <div class="list-item">
            <div class="list-left">
              <span class="w-40 avatar">
                <img src="../static/img/a8.jpg">
                <i class="away b-white"></i>
              </span>
            </div>
            <div class="list-body">
              <a href="" class="_500">Consectetur adipiscing elit.</a>
              <small class="block text-muted">Min Li Chan</small>
            </div>
          </div>
          <div class="list-item">
            <div class="list-left">
              <span class="w-40 avatar">
                <img src="../static/img/a4.jpg">
                <i class="on bottom b-white"></i>
              </span>
            </div>
            <div class="list-body">
              <a href="" class="_500">Dipiscing elit.</a>
              <small class="block text-muted">Peter send you a message</small>
            </div>
          </div>
          <div class="list-item">
            <div class="list-left">
              <span class="w-40 avatar">
                <img src="../static/img/a5.jpg">
                <i class="on top b-white"></i>
              </span>
            </div>
            <div class="list-body">
              <a href="" class="_500">Dipiscing elit.</a>
              <small class="block text-muted">Peter send you a message</small>
            </div>
          </div>
          <div class="list-item">
            <div class="list-left">
              <span class="w-40 avatar">
                <img src="../static/img/a6.jpg">
                <i class="on bottom b-white"></i>
              </span>
            </div>
            <div class="list-body">
              <a href="" class="_500">Dipiscing elit.</a>
              <small class="block text-muted">Peter send you a message</small>
            </div>
          </div>
        </div>


        <div class="list-group m-b">
          <a href class="list-group-item">
            <span class="pull-right label info">12</span>
            New contracts.
          </a>
          <a href class="list-group-item">
            <span class="pull-right label success">5</span>
            Messages
          </a>
          <a href class="list-group-item">
            <span class="pull-right label primary">4</span>
            Meeting Requests 
          </a>
          <a href class="list-group-item">
            <span class="pull-right label danger">9</span>
            Work schedules
          </a>
        </div>

        <div class="list-group m-b">
          <a href class="list-group-item b-l-primary">
            <span class="pull-right text-primary"><i class="fa fa-circle text-xs"></i></span>
            Border left primary
          </a>
          <a href class="list-group-item b-l-warning">
            <span class="pull-right text-warning"><i class="fa fa-circle text-xs"></i></span>
            Border left warning
          </a>
          <a href class="list-group-item b-l-success">
            <span class="pull-right text-success"><i class="fa fa-circle text-xs"></i></span>
            Border left success
          </a>
          <a href class="list-group-item b-l-danger">
            <span class="pull-right text-danger"><i class="fa fa-circle text-xs"></i></span>
            Border left danger
          </a>
          <a href class="list-group-item b-l-info">
            <span class="pull-right text-info"><i class="fa fa-circle text-xs"></i></span>
            Border left info
          </a>
        </div>

      </div>
      <!-- <div class="aside-footer">
        
      </div> -->
    </div>
  </div>
</div>
