
table.table__accordion{
  @extend .white;

  .accordion-row{
    background: $brand-neutral-light;
    border: 1px solid $border-color;
    span.footable-toggle {
    display: none !important;
    }
    .accordion-row__body {
      @extend .row;
    }
    h1 {
      font-size: 18px;
      margin-bottom: 30px;
    }
    label {
      display: block;
    }
    label.md-check{
      display: inline-block;
    }
    .btn-warning {
      background: $warning;
    }
  }
}

td.footable-visible {
    max-width: 250px;
    overflow: auto;
    white-space: nowrap;
}
