<div class="styleguide">

    <div class="box__brand-black no-borders m-a-0">
        <div class="box__header__brand-neutral-light">
            <h1>Application Developer Guide</h1>
        </div>
        <div class="box-tool">
            <ul class="nav">
                <li class="nav-item inline dropdown">
                    <a class="nav-link" data-toggle="dropdown">
                        <i class="material-icons md-24">&#xe5d4;</i>
                    </a>
                    <div class="dropdown-menu pull-right">
                        <a class="dropdown-item" href="#intro" ui-scroll-to="intro">Introduction</a>
                        <a class="dropdown-item" href="#search-patterns" ui-scroll-to="search-patterns">Search the UI Pattern Library</a>
                        <a class="dropdown-item" href="#elementPlacement" ui-scroll-to="elementPlacement">Element Placement</a>
                        <a class="dropdown-item" href="#list-pattern" ui-scroll-to="list-pattern">List New Pattern in 'Pattern Search' feature</a>
                        <a class="dropdown-item" href="#gitmergetool" ui-scroll-to="gitmergetool">KDiff3 Git Mergetool</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#support" ui-scroll-to="support">Support</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="box m-a-0" id="intro">
        <div class="box__header__grey-900">
            Introduction
        </div>
        <div class="box-body">
            <p class="m-a-0 p-a text-md">This help section is aimed at making your life easier when it comes to interacting with the JLS styleguide.  Whether you're using the JLS styleguide or developing into it.  Each section is headed with the context of help available.</p>
            <p class="m-a-0 p-a text-md"><code class="brand-black"><i class="material-icons md-24 text-white">&#xe5d4;</i></code> Use this icon which you may notice at the top right in the <code class="text-md">Styleguide Help / Dev Guide</code> title to jump directly to a help section on this page.  (A little sub nav to help you navigate the content).</p>
            <p class="m-a-0 p-a text-md">Happy Developing!</p>
        </div>
    </div>

    <div class="box m-a-0" id="intro">
        <div class="box__header__grey-900">
            The Build Tools
        </div>
        <div class="box-body">
            <p class="text-md">This framework is build using <code>AngularJS 1.2</code> with <code>Bootstrap 4 / UI.Bootstrap</code> strapped.</p>
            <p class="text-md">It uses <code><a href="http://gruntjs.com">GruntJS Javascript Task Runner</a></code> for various tasks such as organising CSS and JavaScript as well as running a browser-sync server.</p>
            
            <p></p>
            <ol>
                <!-- pretty irrelevant since they've performed these steps to get this far.  Still we can remind them about then grunt command to launch Javelin.
                <li><a href="https://nodejs.org" target="_blank" class="text-info">Download and install Node</a>, which we use to manage our dependencies.</li>
                <li>Run <code>$npm install -g grunt-cli</code></li>
                <li>Run <code>$npm install</code> to install dependencies</li> 
                -->
                <li>Run <code>$ grunt</code> to start server with browserSync & watcher</li>
            </ol>
            <p class="box p-a-sm m-t-md">
                Note: Command must be run from the project's root folder.  If for any reason you're experiencing difficulties, attempt running:
                <code>$ npm install</code> from the root directory to install dependencies, then try running <code>$ grunt</code> again.
            </p>
        </div>
    </div>

    
    <div class="row" id="build">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header light-blue-400">
                    <h3>Build Tools</h3>
                </div>
                <div class="box-body">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="includes">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header light-blue-400">
                    <h3>What's Included</h3>
                </div>
                <div class="box-body">
                    <p>You'll find the following directories and files, grouping common resources and providing both compiled and minified distribution files, as well as raw source files.</p>
                    <p><code>NEEDS UPDATING</code></p>
                    <pre class="box p-a">
                  base/
                    |-- package.json
                    |-- GruntFile.js
                    |-- README.md
                    |-- CHANGELOG.md
                    |-- libs/
                    |   |-- angular/
                    |   |-- jquery/
                    |   |-- js/
                    |-- app/
                    |   |-- api/
                    |   |-- static/
                    |   |   |-- css/
                    |   |-- scripts/
                    |   |   |-- controllers/
                    |   |   |-- directives/
                    |   |   |-- filters/
                    |   |   |-- services/
                    |   |   |-- app.js
                    |   |   |-- app.ctrl.js
                    |   |   |-- config.js
                    |   |   |-- config.lazyload.js
                    |   |   |-- config.router.js
                    |   |-- index.html
                    |   |-- index.rtl.html
                    |-- assets/
                    |   |-- angular-motion/
                    |   |-- animate.css/
                    |   |-- scss/
                    |   |-- styles/
                    |   |-- bootstrap/
                    |   |-- bootstrap-additions/
                    |   |-- bootstrap-rtl/
                    |   |-- fonts/
                    |   |-- fontawesome/
                    |   |-- glypicons/
                    |   |-- images/
                    |   |-- material-design-icons/
                    |-- dist/ (not used soon to be removed)
                    |-- html/
                    |   |-- api/
                    |   |-- layout/
                    |   |-- scripts/
                    |   |   |-- app.js
                    |   |   |-- config.js
                    |   |   |-- config.lazyload.js
                    |   |   |-- config.router.js
                    |   |-- index.html
                    |-- views/
                    |   |-- app/
                    |   |-- blocks/
                    |   |-- chart/
                    |   |-- dashboard/
                    |   |-- form/
                    |   |-- layout/
                    |   |-- misc/
                    |   |-- page/
                    |   |-- table/
                    |   |-- ui/
                  </pre>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="css">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header light-blue-400">
                    <h3>CSS Bootstrap / Custom / Overides / Policy (BEM)</h3>
                </div>
                <div class="box-body">
                    <p class="text-md">This framework uses <a href="http://gruntjs.com" class="text-info">GruntJS Javascript Task Runner</a> for its CSS and JavaScript build system.</p>
                    <ol>
                        <li><a href="https://nodejs.org" target="_blank" class="text-info">Download and install Node</a>, which we use to manage our dependencies.
                            <br />(The Webpack days....Maybe something for the future ;)</li>
                        <li>Run <code>npm install -g bower grunt-cli</code></li>
                        <li>Run <code>bower install --force-latest</code> to install dependencies</li>
                        <li>Run <code>npm install</code> to install dependencies</li>
                        <li>Run <code>grunt gojavelin</code> to start server with browserSync & watcher</li>
                    </ol>
                    <p class="box p-a-sm m-t-md">
                        Note: All commands must be run from the project's root folder.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="codeclip">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header light-blue-400">
                    <h3>Clipping the code (Copying)</h3>
                </div>
                <div class="box-body">
                    <pre ng-copyable="" class="text-left" data-toggle="modal" data-target="#bottom">
          <B>&lt;div class="makecodeview"&gt;</B>
            &lt;div class="box-color text-color pos-rlt"&gt;
              &lt;span class="arrow top b-white"&gt;&lt;/span&gt;
              &lt;div class="box-body"&gt;
                  Arrow Panel Content...
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        </pre>
                <h5>How we have done it</h5>
                <p>Wrapping our elements in a div with class <b>"makecodereview"</b> as shown above and then having the code beneath immediately following.</p>
                <pre ng-copyable class="text-left" data-toggle="modal" data-target="#bottom">
          &lt;pre ng-copyable="" class="text-left" data-toggle="modal" data-target="#bottom"&gt;&lt;/pre&gt;
          &lt;span class="clip__code label label-md accent pos-rlt m-r-xs"&gt;&lt;b class="arrow top b-accent pull-left"&gt;&lt;/b&gt;Click Code to Copy&lt;/span&gt;
        </pre>
                <h5>Great, so what does this do?</h5>
                <p>In simple terms, it allows you to click the code to copy it to your clipboard - easy right?</p>
                </div>
            </div>
        </div>
    </div>
</div>